footer {
    background-image: url(../../../assets/images/footer.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px  0px
}
footer h4 {
    color: #939393;
    font-size: 18px;
}

.copy-right {
    margin-top: 100px
}