.testimonial-title {
    padding: 65px 0;
    margin-top: 45px
}
.testimonial-title h4 {
    color: #19D3AE
}



.client-info {
    /* padding-left: 20px; */
}

.client-info p {
    padding: 0;
    margin: 0
}

.client-info h5 {
    margin: 0
}

.client-image img {
    width: 80%;
    border: 2px solid green;
    border-radius: 50%;
    padding: 5px

}

.review {
    padding: 25px;
    margin: 30px 0px;
    border: 1px solid #f7f7f7;
    background-color: white;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

.review-nav-bar {

}

.button-next,
.button-prev {
    font-size: 25px;
    cursor: pointer;
    background-color: #1b5e1fd6;
    color: white;
    padding: 5px ; 
}

.button-next:hover,
.button-prev:hover {
    background-color: #1B5E20;
}



.button-next {
    margin-left: 5px;
}

.button-next svg {
   margin-right: 5px;
   margin-bottom: 6px
}
.button-prev svg {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 6px
 }