.service-card {
    padding: 25px;
    text-align: center;
   
    border-radius: 10px;
    margin: 10px 5px;
    transition: all 700ms;
    cursor: pointer;
    border: 1px solid rgba(211, 211, 211, 0.44);
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

.service-card h4 {
    margin-top: 20px;
    
}