.hero-section{
    height: 85vh;
    background-image: url(../../../assets/images/bg.png);
    background-position: center  center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    display: flex;
    align-items: center;
}