@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}



h1 , h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #3A4256
  
}


p {
  font-family: 'Roboto', sans-serif;
 
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none;
}
